header{
    padding: 20px 0;
}
.logo {
    width: 30px;
    margin-top: 2px;
    margin-left: 4%;
}
.titulo{
    text-align: center;
}
.izquierdo{
    position:absolute;
    width: 317px;
    height: 300px;
    left: 200px;
    top: 200px;
    background-color: aqua;
}
.derecho{
    position: absolute;
    width: 317px;
    height: 300px;
    left: 800px;
    top: 200px;
    background-color: black;
}
